/* Background */ .chroma { color: #e7e9db; background-color: #fff }
/* Other */ .chroma .x {  }
/* Error */ .chroma .err { color: #ef6155 }
/* LineTableTD */ .chroma .lntd { vertical-align: top; padding: 0; margin: 0; border: 0; }
/* LineTable */ .chroma .lntable { border-spacing: 0; padding: 0; margin: 0; border: 0; width: auto; overflow: auto; display: block; }
/* LineHighlight */ .chroma .hl { display: block; width: 100%;background-color: #ffffcc }
/* LineNumbersTable */ .chroma .lnt { margin-right: 0.4em; padding: 0 0.4em 0 0.4em;color: #7f7f7f }
/* LineNumbers */ .chroma .ln { margin-right: 0.4em; padding: 0 0.4em 0 0.4em;color: #7f7f7f }
/* Keyword */ .chroma .k { color: #815ba4 }
/* KeywordConstant */ .chroma .kc { color: #815ba4 }
/* KeywordDeclaration */ .chroma .kd { color: #815ba4 }
/* KeywordNamespace */ .chroma .kn { color: #5bc4bf }
/* KeywordPseudo */ .chroma .kp { color: #815ba4 }
/* KeywordReserved */ .chroma .kr { color: #815ba4 }
/* KeywordType */ .chroma .kt { color: #fec418 }
/* Name */ .chroma .n {  }
/* NameAttribute */ .chroma .na { color: #06b6ef }
/* NameBuiltin */ .chroma .nb {  }
/* NameBuiltinPseudo */ .chroma .bp {  }
/* NameClass */ .chroma .nc { color: #fec418 }
/* NameConstant */ .chroma .no { color: #ef6155 }
/* NameDecorator */ .chroma .nd { color: #5bc4bf }
/* NameEntity */ .chroma .ni {  }
/* NameException */ .chroma .ne { color: #ef6155 }
/* NameFunction */ .chroma .nf { color: #06b6ef }
/* NameFunctionMagic */ .chroma .fm {  }
/* NameLabel */ .chroma .nl {  }
/* NameNamespace */ .chroma .nn { color: #fec418 }
/* NameOther */ .chroma .nx { color: #06b6ef }
/* NameProperty */ .chroma .py {  }
/* NameTag */ .chroma .nt { color: #5bc4bf }
/* NameVariable */ .chroma .nv { color: #ef6155 }
/* NameVariableClass */ .chroma .vc {  }
/* NameVariableGlobal */ .chroma .vg {  }
/* NameVariableInstance */ .chroma .vi {  }
/* NameVariableMagic */ .chroma .vm {  }
/* Literal */ .chroma .l { color: #f99b15 }
/* LiteralDate */ .chroma .ld { color: #48b685 }
/* LiteralString */ .chroma .s { color: #48b685 }
/* LiteralStringAffix */ .chroma .sa { color: #48b685 }
/* LiteralStringBacktick */ .chroma .sb { color: #48b685 }
/* LiteralStringChar */ .chroma .sc {  }
/* LiteralStringDelimiter */ .chroma .dl { color: #48b685 }
/* LiteralStringDoc */ .chroma .sd { color: #776e71 }
/* LiteralStringDouble */ .chroma .s2 { color: #48b685 }
/* LiteralStringEscape */ .chroma .se { color: #f99b15 }
/* LiteralStringHeredoc */ .chroma .sh { color: #48b685 }
/* LiteralStringInterpol */ .chroma .si { color: #f99b15 }
/* LiteralStringOther */ .chroma .sx { color: #48b685 }
/* LiteralStringRegex */ .chroma .sr { color: #48b685 }
/* LiteralStringSingle */ .chroma .s1 { color: #48b685 }
/* LiteralStringSymbol */ .chroma .ss { color: #48b685 }
/* LiteralNumber */ .chroma .m { color: #f99b15 }
/* LiteralNumberBin */ .chroma .mb { color: #f99b15 }
/* LiteralNumberFloat */ .chroma .mf { color: #f99b15 }
/* LiteralNumberHex */ .chroma .mh { color: #f99b15 }
/* LiteralNumberInteger */ .chroma .mi { color: #f99b15 }
/* LiteralNumberIntegerLong */ .chroma .il { color: #f99b15 }
/* LiteralNumberOct */ .chroma .mo { color: #f99b15 }
/* Operator */ .chroma .o { color: #5bc4bf }
/* OperatorWord */ .chroma .ow { color: #5bc4bf }
/* Punctuation */ .chroma .p {  }
/* Comment */ .chroma .c { color: #776e71 }
/* CommentHashbang */ .chroma .ch { color: #776e71 }
/* CommentMultiline */ .chroma .cm { color: #776e71 }
/* CommentSingle */ .chroma .c1 { color: #776e71 }
/* CommentSpecial */ .chroma .cs { color: #776e71 }
/* CommentPreproc */ .chroma .cp { color: #776e71 }
/* CommentPreprocFile */ .chroma .cpf { color: #776e71 }
/* Generic */ .chroma .g {  }
/* GenericDeleted */ .chroma .gd { color: #ef6155 }
/* GenericEmph */ .chroma .ge { font-style: italic }
/* GenericError */ .chroma .gr {  }
/* GenericHeading */ .chroma .gh { font-weight: bold }
/* GenericInserted */ .chroma .gi { color: #48b685 }
/* GenericOutput */ .chroma .go {  }
/* GenericPrompt */ .chroma .gp { color: #776e71; font-weight: bold }
/* GenericStrong */ .chroma .gs { font-weight: bold }
/* GenericSubheading */ .chroma .gu { color: #5bc4bf; font-weight: bold }
/* GenericTraceback */ .chroma .gt {  }
/* GenericUnderline */ .chroma .gl {  }
/* TextWhitespace */ .chroma .w {  }
